<div class="admin">
  <div class="clearfix">
    <h3 class="float-left">Recent Conditions (<%= @conditions.size %>)</h3>
  </div>
  <p class="description">This section is where the administrator can review recently created conditions within StudyFinder.</p>
  <hr/>
  <div class="clearfix">
    <div class="float-left">
      <%= form_tag admin_reports_recent_conditions_path, method: :get do %>
        <div class="float-left row">
          <div class="col-md-4">
            <label>Start Date</label>
            <input id="start_date" name="start_date" class="form-control datepicker" type="text", value="<%=@start_date%>">
          </div>
          <div class="col-md-4">
            <label>End Date</label>
            <input id="end_date" name="end_date" class="form-control datepicker" type="text", value="<%=@end_date%>">
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary" style='margin-top: 25px;'>Filter Conditions</button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="float-right">
      <%= link_to 'Back to Reports', admin_reports_path, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
  <table class="table table-bordered table-trials">
    <tr>
      <th>Condition</th>
      <th>Date Added</th>
    </tr>
    <% if @conditions.empty? %>
      <tr><td colspan="2">No conditions found.</td></tr>
    <% end %>
    <% @conditions.each do |t| %>
      <tr>
        <td><%= t.condition %></td>
        <td><%= t.created_at.strftime('%m/%d/%Y') %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to "Export to Excel", admin_reports_recent_conditions_path(format: :xls, start_date: params[:start_date], end_date: params[:end_date]), class: 'btn btn-success' %>
</div>