<%= simple_form_for [:admin, @item] do |f| %>
  <div class="form-group">
    <%= f.input :name, hint: '<small><i>(Administrator reference only; will not appear anywhere.)</i></small>'.html_safe %>
    <%= f.input :active, inline_label: 'Display in Showcase' %>
    <%= f.input :sort_order, as: :integer, label: 'Order' %>
    <%= f.input :title, hint: '<small><i>(Heading for the showcase item.)</i></small>'.html_safe %>
    <%= f.input :caption, hint: '<small><i>(Text for the showcase item.)</i></small>'.html_safe %>
    <label for="showcase_item_showcase_image">Image Upload</label><br/>
    <%= f.file_field :showcase_image %>
    <%= f.input :url, label: 'Youtube URL', hint: '<small><i>(Embeddable version of the youtube video URL. Ex. "https://www.youtube.com/watch?v=Ie3jNNDqzzc" becomes "https://www.youtube.com/embed/Ie3jNNDqzzc".)</i></small>'.html_safe %>
  </div>

  <% if @item.showcase_image.attached? || !@item.url.blank? %>
  	<div class="preview_container col-6 d-none d-md-block">
  		<h4>Preview</h4>

      <div id="showcaseCarousel" class="carousel slide" data-ride="carousel">
        <% if @system_info.show_showcase_indicators %>
          <ol class="carousel-indicators">
            <li data-target="#showcaseCarousel" data-slide-to="0" class="active"></li>
          </ol>
        <% end %>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <% if @item.showcase_image.attached? %>
              <%= image_tag @item.showcase_image, class: 'w-100' %>
            <% elsif !@item.url.blank? %>
              <div class="embed-responsive embed-responsive-16by9">asdf
                <iframe class="embed-responsive-item" src="<%= @item.url %>" allowfullscreen></iframe>
              </div>
            <% end %>
            <div class="carousel-caption">
              <div class="caption-wrapper rounded">
                <h5 class="caption-title"><%= @item.title.to_s %></h5>
                <p class="caption-text"><%= @item.caption.to_s %></p>
              </div>
            </div>
          </div>
        </div>
        <% if @system_info.show_showcase_controls %>
          <a class="carousel-control-prev" href="#showcaseCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#showcaseCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        <% end %>
      </div>
  	</div>
  <% end %>

  <div class="controls">
    <%= f.submit 'Save', class: 'btn btn-school' %>
    <%= link_to 'Back to Showcase', admin_showcase_items_path, class: 'btn btn-secondary' %>
  </div>
<% end %>