<h4 style="text-decoration:underline">Study Finder - <%= @trial.brief_title %></h4>

<p><b>Contacts:</b>
<p><%= @contacts %>

<p><b>Eligibility:</b>
<p><%= @eligibility %></p>

<p><b>Age:</b>
<p><%= @age %></p>

<p><b>Study:</b>
<p><%= @trial.system_id %> - <%= @trial.brief_title %></p>

<p><b>Interventions:</b>
<p><%= @interventions %>

<p><b>Conditions:</b>
<p><%= @conditions %>

<p><b>Message:</b>
<p><%= @message %></p>