<h4 style="text-decoration:underline">StudyFinder - <%= @trial.brief_title %></h4>

<p><b>Contacts:</b>
<p><%= @contacts %>

<p><b>Eligibility:</b>
<p><%= @eligibility %></p>

<p><b>Age:</b>
<p><%= @age %></p>

<p><b>Study:</b>
<p><%= @trial.system_id %> - <%= @trial.brief_title %></p>

<p><b>Interventions:</b>
<p><%= @interventions %>

<p><b>Conditions:</b>
<p><%= @conditions %>

<p><b>Message:</b>
<p><%= @message %></p>
<hr />
<a href="https://www.clinicaltrials.gov/ct2/show/study/<%= @trial.system_id %>" class="btn btn-school" target="_blank">See more information</a>