<div class="container-fluid">
  <div class="brand"></div>
  <%= render "shared/logo.svg" %>
</div>
<div id="header-content">
  <div class="alt-header d-block d-md-none"><span>StudyFinder</span></div>
  <nav class="navbar navbar-default" id="main-nav">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><a href="<%= root_path %>" class="nav-link <%= 'active' if params[:controller] == 'home' %>">Home</a></li>
      <div class="w-100 d-block d-md-none"></div>
      <li class="nav-item">
        <% if @system_info.display_groups_page %>
          <li class="nav-item"><a href="<%= categories_path %>" class="nav-link <%= 'active' if ['categories','studies'].include? params[:controller] %>">Find a Study</a></li>
        <% else %>
          <li class="nav-item"><a href="<%= studies_path %>" class="nav-link <%= 'active' if ['categories','studies'].include? params[:controller] %>">Find a Study</a></li>
        <% end %>
      </li>
      <div class="w-100 d-block d-md-none"></div>
      <li class="nav-item"><a href="<%= researchers_path %>" class="nav-link <%= 'active' if params[:controller] == 'researchers' %>">For Researchers</a></li>
      <div class="w-100 d-block d-md-none"></div>
      <li class="nav-item"><a href="<%= contact_index_path %>" class="nav-link <%= 'active' if params[:controller] == 'contact' %>">Help</a></li>
      <div class="w-100 d-block d-md-none"></div>
      <% if is_admin? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= 'active' if params[:controller].include? 'admin' %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i> Admin
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="width: 250px;">
            <%= link_to 'System Administration', admin_system_index_path, class: 'nav-link' %>
            <%= link_to 'User Administration', admin_users_path, class: 'nav-link' %>
            <%= link_to 'Group Administration', admin_groups_path, class: 'nav-link' %>
            <%= link_to 'Site Administration', admin_sites_path, class: 'nav-link' %>
            <%= link_to 'Disease Site Administration', admin_disease_sites_path, class: 'nav-link' %>
            <%= link_to 'Trial Administration', admin_trials_path, class: 'nav-link' %>
            <%= link_to 'Showcase', admin_showcase_items_path, class: 'nav-link' if @system_info.enable_showcase %>
            <%= link_to 'Reports', admin_reports_path, class: 'nav-link' %>
          </div>
        </li>
      <% end %>
    </ul>
  </nav>
</div>