= form_tag studies_path, method: :get, class: 'search-form' do
  .results-header
    %h3 Refine your search
    .clearfix
      %h3.pull-left
        %i.fa.fa-search
        = text_field_tag 'search[q]', search_value(params[:search], 'q'), class: 'input-search typeahead', autocomplete: 'off'

      .form-group.pull-left.healthy-volunteers
        %label{ data: { toggle: 'popover', title: 'Healthy Volunteer', content: 'A person who does not have the condition or disease being studied.', placement: 'top' } }
          Healthy Volunteers
          %i.fa.fa-question-circle

        - healthy_voulunteers = params[:search]['healthy_volunteers'] if !params[:search].nil? and !params[:search]['healthy_volunteers'].nil?
        %select#search_heathy_volunteers.form-control{ name: 'search[healthy_volunteers]' }
          %option{ value: '' } Please Select
          %option{ value: '1', selected: healthy_voulunteers == '1' } Yes
          %option{ value: '0', selected: healthy_voulunteers == '0' } No
          %option{ value: '' } No Preference

        %label.gender-label{}
          Gender

        - gender = params[:search]['gender'] if !params[:search].nil? and !params[:search]['gender'].nil?
        %select#gender.form-control{ name: 'search[gender]' }
          %option{ value: '' } Any
          %option{ value: 'Female', selected: gender == 'Female' } Female
          %option{ value: 'Male', selected: gender == 'Male' } Male

      .age-ranges.pull-left
        %label.checkbox
          - if !params[:search].nil? and !params[:search]['children'].nil?
            = check_box_tag 'search[children]', 1, { checked: 'checked' }
          - else
            = check_box_tag 'search[children]'
          Children (age &lt; 18 years)

        %label.checkbox
          - if !params[:search].nil? and !params[:search]['adults'].nil?
            = check_box_tag 'search[adults]', 1, { checked: 'checked' }
          - else
            = check_box_tag 'search[adults]'
          Adults (age &ge; 18 years; age &lt; 66 years)

        %label.checkbox
          - if !params[:search].nil? and !params[:search]['seniors'].nil?
            = check_box_tag 'search[seniors]', 1, { checked: 'checked' }
          - else
            = check_box_tag 'search[seniors]'
          Seniors (age &ge; 66 years)

      - if !params[:search].nil? and !params[:search][:category].nil?
        %input{type:'hidden', name: 'search[category]', value: params[:search][:category] }
    .buttons
      = submit_tag 'Search', class: 'btn btn-lg btn-school-inverse btn-search'
      = link_to 'Clear', studies_path, class: 'btn btn-lg btn-default'
