<%= form_tag studies_path, method: :get, class: 'search-form' do %>
  <div class="results-header">
    <h3>Refine your search</h3>
    <div class="clearfix">
      <h3 class="pull-left"><i class="fa fa-search"></i><%= text_field_tag 'search[q]', search_value(params[:search], 'q'), class: 'input-search typeahead', autocomplete: 'off' %></h3>
      <div class="form-group pull-left healthy-volunteers">
        <label for="search_healthy_volunteers" data-toggle='popover' data-title='Healthy Volunteer' data-content='A person who does not have the condition or disease being studied.' data-placement='top'>Healthy Volunteers <i class="fa fa-question-circle"></i></label>
        <% healthy_voulunteers = params[:search]['healthy_volunteers'] if !params[:search].nil? and !params[:search]['healthy_volunteers'].nil? %>
        <select id="search_heathy_volunteers" name="search[healthy_volunteers]" class="form-control">
          <option value=''>Please Select</option>
          <option value='1' <% if healthy_voulunteers == '1' %>selected<%end%> >Yes</option>
          <option value='0' <% if healthy_voulunteers == '0' %>selected<%end%> >No</option>
          <option value=''>No Preference</option>
        </select>
        <label class="gender-label">Sex</label>
        <% gender = params[:search]['gender'] if !params[:search].nil? and !params[:search]['gender'].nil? %>
        <select id="gender" name="search[gender]" class="form-control">
          <option value=''>Any</option>
          <option value='Female' <% if gender == 'Female' %>selected<%end%> >Female</option>
          <option value='Male' <% if gender == 'Male' %>selected<%end%> >Male</option>
        </select>
      </div>
      <div class="age-ranges pull-left">
        <label class="checkbox"><%= check_box_tag 'search[children]', "", (!params[:search].nil? and !params[:search]['children'].nil?) %> Children (age &lt; 18 years)</label>
        <br>
        <label class="checkbox"><%= check_box_tag 'search[adults]', "", (!params[:search].nil? and !params[:search]['adults'].nil?) %> Adults (age &ge; 18 years)</label>
      </div>
      <% if !params[:search].nil? and !params[:search][:category].nil? %>
        <input type='hidden' name='search[category]' value="<%=params[:search][:category]%>"></input>
      <% end %>
    </div>
    <div class="buttons">
      <%= submit_tag 'Search', class: 'btn btn-lg btn-school-inverse btn-search' %>
      <%= link_to 'Clear', studies_path, class: 'btn btn-lg btn-light' %>
    </div>
  </div>
<% end %>
