<%= form_tag studies_path, method: :get, class: 'search-form', target: (params[:action] == 'embed' ? '_blank' : nil) do %>
  <div class="row">
    <div class="col-md-6">
      <label for="search_healthy_volunteers" data-toggle='popover' data-title='Healthy Volunteer' data-content='A person who does not have the condition or disease being studied.' data-placement='top'>Healthy Volunteers <i class="fa fa-question-circle"></i></label>
      <select id="search_heathy_volunteers" name="search[healthy_volunteers]" class="form-control">
        <option value=''>Please Select</option>
        <option value='1'>Yes</option>
        <option value='0'>No</option>
        <option value=''>No Preference</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for='gender'>Sex</label>
      <select id="gender" name="search[gender]" class="form-control">
        <option value=''>Any</option>
        <option value='Female'>Female</option>
        <option value='Male'>Male</option>
      </select>
    </div>
  </div>
  <div class="age-ranges">
    <label class="checkbox"><%= check_box_tag 'search[children]' %> Children (age &lt; 18 years)</label>
    <label class="checkbox"><%= check_box_tag 'search[adults]' %> Adults (age &ge; 18 years)</label>
  </div>
  <div class="row">
    <div class="col-md-10">
      <%= text_field_tag 'search[q]', '', placeholder: 'Search (Keyword, condition, researcher, etc.)', class: 'form-control input-lg typeahead', autocomplete: 'off' %>
    </div>    
  </div>
  <%= hidden_field 'search', 'category', value: @category.id unless @category.nil? %>
  <div class="search-controls">
    <%= submit_tag 'Search', class: 'btn btn-lg btn-school btn-search' %>
    <% if @system_info.try(:display_groups_page) == true %>
      <a class="btn btn-secondary" href="<%=(@category.nil? ? categories_path : studies_path({ search: { category: @category.id } }) )%>" target="(params[:action] == 'embed' ? '_blank' : nil)">Browse by category</a>
    <% end %>
  </div>
<% end %>