<div class="main-content banner-content">
  <div class="row">
    <div class="col-lg-4 d-none d-md-block">
      <h2 class="banner-text">Be part of tomorrow's healthcare breakthroughs</h2>
        <p class="banner-text">When you participate in a <%= @system_info.school_name %> study, you can help create a healthier future.</p>
        <br>
        <div class="banner-text">
          <%= link_to 'Find a study', categories_path, class: 'btn btn-school btn-lg' %>
        </div>
        <br>
    </div>
    <div class="col-8 d-none d-md-block">
      <%= image_tag 'home-collage.jpg', class: 'pull-right d-none d-xl-block' %>
      <%= image_tag 'home-collage-condensed.jpg', class: 'pull-right d-none d-lg-block d-xl-none' %>
    </div>
  </div>
</div>

<div class="content home mt-5 p0">
  <div class="row home-content mb-4">
    <div class="col-md-2 featured-image">
      <%= link_to image_tag('covid.jpg'), studies_path(search: { q: "COVID-19" }), class: 'hyperlink-header', title: "COVID-19 studies" %>
    </div>
    <div class="col-md-10 featured-content py-auto">
      <a href="<%=studies_path(search: { q: "COVID-19" })%>" title="COVID-19 studies"><h2 class="hyperlink-header">COVID-19 studies that need volunteers</h2></a>
      <p>The University of Minnesota has several clinical trials to test experimental medicines that could help those with coronavirus.</p>
    </div>
  </div>

  <div class="card card-body bg-light">
    <div class="row">
      <div class="col-md-6 col-right-border px-4 py-2">
        <h2>Find a study that's right for you</h2>
        <%= render 'shared/search_form' %>
      </div>
      <div class="col-md-6 py-2 pl-4">
        <h2><%= @system_info.system_header %></h2>
        <%= @system_info.system_description.html_safe %>
      </div>
    </div>
  </div>
  <br/>

  <div class="row home-content mt-4 mb-5">
   
<!--     <div class="col-md-6 study-highlights">
      <h2>Research at the University of Minnesota</h2>
      <p>The University of Minnesota has research studies on a wide range of health issues, from cancer and diabetes to prevention and women's health.</p>
      <p>Every study is different. Some studies are looking for people with certain conditions, while others are open to healthy volunteers. Some studies involve visits to a clinic, while others can be done online.</p>
      <%= link_to 'More about volunteering in research', "https://research.umn.edu/units/hrpp/research-participants/volunteering-research", class: 'btn btn-school btn-lg' %>
    </div> -->
    <div class="col-12 d-none d-md-block">
       <h2 class="">Research Highlights</h2>
      <% if @system_info.enable_showcase && @showcase.size > 0 %>
        <div class="d-none d-md-block">
          <% unless @showcase.empty? %>
            <div id="showcase" class="row">
              <% @showcase.each_with_index do |item, ix| %>
                <div class="col-md-4 card border-0 ">
                  <div class="card-header d-flex align-items-center justify-content-center h-100"> 
                    <h5 class="caption-title"><%= item.title.to_s %></h5>
                  </div>
                  <div class="card-text">
                    <% unless !item.showcase_image.attached? && item.url.blank? %>
                      <% if item.showcase_image.attached? %>
                        <%= image_tag item.showcase_image, class: 'w-100' %>
                      <% end %>
                      <a href="<%= item.url.to_s %>" class="stretched-link"><p class="caption-text"><%= item.caption.to_s %></p></a>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= image_tag 'campus-aerial.jpg', class: 'bordered' %>
      <% end %>
    </div>
  </div>

  <hr />

  <h2 class="mt-3">More ways to get involved</h2>
  <div class="row mt-5">
    <div class="col-md-1">
      <%= image_tag "researchmatch.png" %>
    </div>
    <div class="col-md-11">
      <a href="https://researchmatch.org?rm=<%= @system_info.research_match_campaign %>" target:"_blank">
        <h3 class="hyperlink-header">ResearchMatch</h3>
      </a>
      <p>Join a national registry! ResearchMatch.org connects volunteers with research studies across the country. Volunteers of any age, race, ethnicity, or health status are invited to join. Log on, register, and receive emails when studies might be a good fit for you.</p>
    </div>
  </div>
</div>
