<div class="main-content banner-content">
  <div class="row">
    <div class="col-lg-4 d-none d-md-block">
      <h2 class="banner-text">Be part of tomorrow's healthcare breakthroughs</h2>
        <p class="banner-text">When you participate in a <%= @system_info.school_name %> study, you can help create a healthier future.</p>
        <br>
        <div class="banner-text">
          <%= link_to 'Find a study', categories_path, class: 'btn btn-school btn-lg' %>
        </div>
        <br>
    </div>
    <div class="col-8 d-none d-md-block">
      <%= image_tag 'home-collage.jpg', class: 'float-right d-none d-xl-block' %>
      <%= image_tag 'home-collage-condensed.jpg', class: 'float-right d-none d-lg-block d-xl-none' %>
    </div>
  </div>
</div>

<div class="content home mt-5 p0">
  <div class="card card-body bg-light">
    <div class="row">
      <div class="col-md-6 col-right-border px-4 py-2">
        <h2>Find a study that's right for you</h2>
        <%= render 'shared/search_form' %>
      </div>
      <div class="col-md-6 py-2 pl-4">
        <h2><%= @system_info.system_header %></h2>
        <%= @system_info.system_description.html_safe %>
      </div>
    </div>
  </div>
  <br>

  <% if @system_info.enable_showcase && @showcase.size > 0 %>
    <hr>
    <%= render 'showcase' %>
  <% end %>
  
  <hr>

  <div class="row">
    <div class="col-md-6 study-highlights">
      <%= render 'themed/home_lower_left' %>
    </div>
    <div class="col-md-6">
      <%= render 'themed/home_lower_right' %>
    </div>
  </div>
</div>
