<div class="splash">
  <a href="<%=root_path%>">
    <%= image_tag "splash_1.jpg", id: 'sp1' %>
    <%= image_tag "splash_2.jpg", id: 'sp2' %>
    <%= image_tag "splash_3.jpg", id: 'sp3' %>
    <%= image_tag "splash_4.jpg", id: 'sp4' %>
  </a>
</div>

<script>
  var sp1 = document.getElementById('sp1');
  var sp2 = document.getElementById('sp2');
  var sp3 = document.getElementById('sp3');
  var sp4 = document.getElementById('sp4');

  setTimeout(function() {
    sp1.className = sp1.className + "reveal";
  }, 1000);

  setTimeout(function() {
    sp2.className = sp2.className + "reveal";
  }, 1500);

  setTimeout(function() {
    sp3.className = sp3.className + "reveal";
  }, 1300);

  setTimeout(function() {
    sp4.className = sp4.className + "reveal";
  }, 2700);
</script>