<style>
/*.btn-sq {
  width: 25px;
  height: 25px;
	margin: 2px;
}*/
.share-container {
	margin: 10px;
}
</style>
<div class="hide-on-print share-container">
	<label class="nomargin">Share: </label>
	<a href="https://www.facebook.com/sharer/sharer.php?u=<%=CGI.escape(study_url(study.id))%>" target="_blank" class="btn btn-sm btn-sq btn-primary"><i class="fa fa-facebook" alt="Share on Facebook"></i> Facebook</a>
	<a href="http://twitter.com/share?text=check%20out%20this%20study!&url=<%=CGI.escape(study_url(study.id))%>&hashtags=studyfinder" target="_blank" class="btn btn-sm btn-sq btn-primary"><i class="fa fa-twitter share-icon" alt="Share on Twitter"></i> Twitter</a>
	<div class="btn btn-primary btn-sm btn-email-me" data-toggle='modal' data-target='#email-me-modal' data-title="<%=study.display_title%>" data-trial-id="<%=study.id%>" onclick="track('send', 'event', 'email_me', 'open', '<%= study.system_id %>')"><i class="fa fa-envelope"></i> Email</div>
	<%= link_to '<i class="fa fa-save"></i> Download'.html_safe, study_path(study.id, format: "pdf"), class: 'btn btn-primary btn-print hide-on-print btn-sm' %>
</div>
