= simple_form_for admin_trial, url: admin_trial_path, method: :put do |f|

  - if !@oncore.nil? && !@oncore.contents.blank?
    - if f.object.simple_description.nil?
      = f.input :simple_description, input_html: { value: @oncore.contents['lay_description'] }
    - else
      = f.input :simple_description

    - contact = @oncore.contents['contacts'][0]
    = f.input :contact_override, input_html: { value: contact['email_address'] }
    = f.input :contact_override_first_name, input_html: { value: contact['first_name'] }
    = f.input :contact_override_last_name, input_html: { value: contact['last_name'] }
  - else
    = f.input :simple_description
    = f.input :contact_override
    = f.input :contact_override_first_name
    = f.input :contact_override_last_name
    = f.input :recruitment_url
  = f.input :visible, as: :select
  = f.input :featured, as: :select, collection: [['No', 0],['Yes', 1]], include_blank: false

  = f.submit 'Update Trial', class: 'btn btn-school'
  = link_to 'Back to trials admin', admin_trials_path, class: 'btn btn-default'