
  <div class="admin">
    <div class="clearfix">
      <h3 class="pull-left">Under Review (<%= @trials.count%>)  </h3> 
    <div class="pull-right header-button">
      <%= link_to 'All Trials', admin_trials_path, class: 'btn btn-school'%>
      <%= link_to 'Approvals History',  admin_approvals_path, class: 'btn btn-school'%>
      </div>
  </div>
  
  <p class="description">This section is where an administrator can approve trials under review.. These are trials which have been generated through the import process and have not been approved by an administrator.</p>

   <p class="description"> Click on "Approve" to indicate that the trial under review has sufficient information to be made public in the Study Finder results. Click on "Show Details" to see all the details related to a trial. "Show Details"  will provide additional options to "Edit" or "Approve"  the trial.</p>
   
    <p class="description">
    Once a trial is approved, it can take up to 24 hours for it to appear in search results due to indexing. If a study needs to be made available as soon as possible, the reindexing process will need to be manually run via "Reindex" from the <%= link_to "Admin Groups page", admin_groups_path %>. An approved trial still may not appear in public results if the trial is not determine to be "visible". </p>
  

 

  <hr/>
  <div class="clearfix">
      <div class="pull-left">
        <%= form_tag admin_all_trials_under_review_path, method: :get do %>
          <div class="form-group">
            <label>Search</label>
            <%= text_field_tag :q, params[:q].try(:downcase), class: 'form-control', style: 'width: 400px' %>
          </div>
          <div class="form-group">
            <%= submit_tag 'Search', class: 'btn btn-school' %>
            <%= link_to 'Clear', admin_all_trials_under_review_path, class: 'btn btn-outline-secondary' %>
          </div>
        <% end %>
      </div>
      <div class="pull-right"> 
        <%= will_paginate @collection, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, next_label: 'Next →', previous_label: '← Previous' %> 
     </div>
    </div>


  <table class="table table-bordered table-trials">
  <thead>
      <tr>
        <th>System ID</th>
        <th>Brief Title</th>
        <th>Simple Description</th>
        <th>Study Contact</th>
        <th>PI</th>
        <th>Keywords</th>
        <th>Annotations Present</th>
        <th>Date Added</th>
        <th>Actions</th>
      </tr>
      </thead>

    <tbody>
        <% @trials.each do |t| %>
       
      <tr>
        <td> <%= t.system_id   %> </td>
        <td> <%= t.display_title.try {truncate(80)} %> </td> 
        <td> <%= t.simple_description.try {truncate(80)}%> </td> 
    
        <td> <%= contacts_display(determine_contacts(t)) %></td>
        <td> <%=t.pi_name %> </td>
        <td><%=t.keywords%></td>
        <td><%=t.annotations_flag%></td>
        <td><%= t.created_at.to_date.strftime('%m/%d/%Y') %></td> 
        <td>
          <%= link_to 'Approve', admin_trial_approved_path(t.id), :class => "btn btn-school", :method=> :post%> 
          <%= link_to 'Show Details', admin_trial_under_review_path(t.id), :class => "btn btn-school" %>
        </td>
      </tr>

    <%end %>
    </tbody>
    </table>

    <%= link_to "Export All to Excel", admin_all_trials_under_review_path(format: :xls), class: 'btn btn-success' %>
  </div>
