<div class="admin">
    <div class="clearfix">
      <h3 class="pull-left"> Pending Trial </h3>
    
  </div>
  <p class="description">Review the below information for the pending trial.</p>

  
 

  <hr/>
<table class="table table-bordered table-trials">
  <thead>
    <tr>
      <th>System Id</th>
      <th>Brief Title</th>
      <th>Simple Description</th>
      <th>Contact</th>
      <th>Status</th>
      <th>Recruiting?</th>
      <th>Visible?</th>
      <th>Conditions</th>
      <th>Interventions</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td><%= @trial.system_id %></td>
        <td><%= @trial.display_title %></td>
        <td>
          <% if @trial.display_simple_description %>
            <div class="bg-light-success text-center">Visible</div>
          <% else %>
            <div class="bg-light-warning text-center">Hidden</div>
          <% end %>
          <%= @trial.simple_description %></td>
        <td> <%=@trial.contact_override_last_name %> <%=@trial.contact_override_first_name %> <%=@trial.contact_override %></td>
        <td><%= @trial.overall_status %></td>
        <td><%= @trial.recruiting? ? 'Yes' : 'No' %></td>
        <td><%= @trial.visible? ? 'Yes' : 'No' %></td>
        <td>
          <ul>
            <% @trial.conditions.each do |c| %>
              <li><%= c.condition %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% @trial.trial_interventions.each do |i| %>
              <li><%= i.intervention %></li>
            <% end %>
          </ul>
        </td>
        <td>
        <%= link_to 'Approve', admin_trial_approved_path(@trial.id), class: 'btn btn-school', :method=> :post %>
         <%= link_to 'Edit', edit_admin_trial_path(@trial.system_id), class: 'btn btn-school' %></td>
      </tr>
  </tbody>
  </table>
    </div>
