/ = debug @preview

.admin
  %h2 Lookup Trial Information
  .row
    .col-md-12
      %dl
        %dt
          System ID (NCT ID from ClinicalTrials.gov / Protocol ID from Oncore)
        %dd
          = @preview.system_id
      %dl
        %dt
          Brief Title
        %dd
          = @preview.brief_title
      %dl
        %dt
          Official Title
        %dd
          = @preview.official_title
      %dl
        %dt
          Acronym
        %dd
          = @preview.acronym
      %dl
        %dt
          Phase
        %dd
          = @preview.phase
      %dl
        %dt
          Overall Status
        %dd
          = @preview.overall_status
      %dl
        %dt
          Verification Date
        %dd
          = @preview.verification_date
      %dl
        %dt
          Brief Summary
        %dd
          = @preview.brief_summary
      %dl
        %dt
          Detailed Description
        %dd
          = @preview.detailed_description
  .row
    .col-md-12
      = simple_form_for @preview, url: admin_trials_path, method: :post do |f|
        = f.input :system_id, as: :hidden
        = f.submit 'Confirm & Add Trial', class: 'btn btn-school'
        = link_to 'Back to Lookup', new_admin_trial_path, class: 'btn btn-default'