
.admin
  .clearfix
    .pull-left
      %h3 Recent Trials
    .pull-right
      = will_paginate @collection, renderer: BootstrapPagination::Rails
  %p.description
    This section is where the administrator can review recently imported trials within StudyFinder.
  %hr
  .clearfix
    .pull-right
      = link_to 'Back to Admin', admin_trials_path, class: 'btn btn-default'
  %table.table.table-bordered.table-trials
    %thead
      %tr
        %th System Id
        %th Brief Title
        %th{nowrap: true} Last Updated
    %tbody
      - if @trials.empty?
        %tr
          %td{ colspan: 4 }
            No trials found
      - @trials.each do |t|
        %tr
          %td= t.system_id
          %td= t.display_title
          %td= t.updated_at.localtime.strftime('%m/%d/%Y')
          
  = will_paginate @collection, renderer: BootstrapPagination::Rails
