<div class="admin">
    <div class="clearfix">
      <h3 class="pull-left"> Under Review </h3>
    
  </div>
  <p class="description">Review the below information for the trial under review.</p>


  <hr/>
<p><strong>System ID:</strong> <%= @trial.system_id%></p>
      <p><strong>Brief Title:</strong> <%= @trial.display_title %> </p> 
      <p><strong> Simple Description: </strong><%= @trial.simple_description %> </p> 
      <p><strong>Study Contact:</strong> <%= contacts_display(determine_contacts(@trial)) %></p>
      <p><strong>PI:</strong> <%=@trial.pi_name %> </p>

      <p><strong> Keywords: </strong> <%=@trial.keywords%></p>
      <p> <strong>Inclusion/Exclusion Criteria: </strong> <%= @trial.eligibility_criteria%> </p>
      <p> <strong>Conditions: </strong> 
        <%@trial.conditions.each do |c| %>
            <ul>
              <li> <%= c.condition %></li>
            </ul>
        <%end%>
       </p>
       <p> <strong>Annotations Present: </strong><%=@trial.annotations_flag%></p> 
        <p><strong>Date Created:</strong> <%= @trial.created_at.to_date.strftime('%m/%d/%Y') %></p> 
  <%= link_to 'Approve', admin_trial_approved_path(@trial.id), class: 'btn btn-school', :method=> :post %>
        <%= link_to 'Edit', edit_admin_trial_path(@trial.system_id), class: 'btn btn-school' %></td>
</div>
