<%= simple_form_for [:admin, @group] do |f| %>
  <%= f.input :group_name, label: 'Group name' %>
  <label for="subgroups">
    Subgroups
  </label>
  <select aria-label='subgroups' name="group[subgroups][]" multiple="true" id="subgroups" class="select2 tags">
    <%= options_for_select(Subgroup.distinct_values, @group.subgroups.map { |sg| sg.name }) %>
  </select>
  <hr/>
  <div class="form-group">
    <p>Filters</p>
    <%= f.input :children, label: 'Children (age < 18 years)' %>
    <%= f.input :adults, label: 'Adults (age >= 18 years)' %>
    <%= f.label :healthy_volunteers %>
    <%= f.hint  "A person who does not have the condition or disease being studied."%>
    <%= f.input :healthy_volunteers, as: :select, collection: [['Please Select',''],['Yes',true],['No',false]], label: false, include_blank: false %>
  </div>
  <hr/>
  <fieldset >
    <legend>Conditions</legend>
    <%= f.collection_check_boxes :condition_ids, @conditions, :id, :condition, item_label_class: 'form-check' do |x|%>
      <%= x.check_box %> <%=x.object.condition %>
    <% end %>
  </fieldset>
  <div class="controls">
    <%= f.submit 'Save Group', class: 'btn btn-school' %>
    <%= link_to 'Back to group admin', admin_groups_path, class: 'btn btn-outline-secondary' %>
    <% if params[:action] == 'edit' %>
      <%= link_to 'Export to Excel', edit_admin_group_path(id: params[:id], format: 'csv'), class: 'btn btn-school' %>
    <% end%>
  </div>
<% end %>