=# f.input :group_name, label: 'Group name'
.group-name.form-group
  %label Group Name
  %input.string.optional.form-control{ type: 'text', name: 'group_name', id: 'group_name', value: "#{f.object.group_name}"}

=# f.association :conditions, collection: @conditions, label_method: :condition, value_method: :id, label: 'Choose all conditions that apply', input_html: { class: 'select2' }, wrapper: false
.form-group
  %label Subgroup
  %input#tags.select2.tags{ type: 'hidden', value: f.object.subgroups.map { |g| g.name }.join(','), name: 'tags[]' }

%hr
 
.form-group
  %label Filters
  %div
    = check_box_tag 'children', 'true', @group.children
    Children (age < 18 years) 
     
  %div
    = check_box_tag 'adults', 'true', @group.adults
    Adults (age >= 18 years)

  %div  
    %label{ for: 'search_heathy_volunteers', data: { toggle: 'popover', title: 'Healthy Volunteer', content: 'A person who does not have the condition or disease being studied.', placement: 'top' } }
      Healthy Volunteers
      %i.fa.fa-question-circle
    %select#search_heathy_volunteers.form-control{ name: 'healthy_volunteers' }
      %option{ value: '' } Please Select
      %option{ value: '1' } Yes
      %option{ value: '0' } No
%hr

%label Choose all conditions that apply
- group_conditions = @group.conditions
- @conditions.each do |c|
  .condition
    - unless group_conditions.select { |gc| gc.id == c.id }.empty?
      %input{ type: 'checkbox', name: 'condition_ids[]', value: c.id, checked: 'checked' }
    - else
      %input{ type: 'checkbox', name: 'condition_ids[]', value: c.id }
    = c.condition
.controls
  = f.submit 'Save Group', class: 'btn btn-school'
  = link_to 'Back to group admin', admin_groups_path, class: 'btn btn-default'
  - unless params[:action] == 'new'
    = link_to 'Export to Excel', edit_admin_group_path(id: params[:id], format: 'csv'), class: 'btn btn-success'