<%= simple_form_for [:admin, @group] do |f| %>
  <%= f.input :group_name, label: 'Group name' %>
  <%= f.association :subgroups, collection: @subgroups, input_html: {class: 'select2'} %>
  
  <hr/>
  
  <div class="form-group">
    <label>Filters</label>
    <%= f.input :children, label: 'Children (age < 18 years)' %>
    <%= f.input :adults, label: 'Adults (age >= 18 years)' %>
    <label for='group_heathy_volunteers' data-toggle= 'popover' data-title= 'Healthy  Volunteer' data-content= 'A person who does not have the condition or disease being studied.' data-placement='top'>Healthy Volunteers <i class="fa fa-question-circle"></i></label>
    <%= f.input :healthy_volunteers, as: :select, collection: [['Please Select',''],['Yes',true],['No',false]], label: false, include_blank: false %>
  </div>

  <hr/>

  <label>Choose all conditions that apply</label><br>
  <%= f.collection_check_boxes :condition_ids, @conditions, :id, :condition, :item_wrapper_class => 'd-block checkbox' %>

  <div class="controls">
    <%= f.submit 'Save Group', class: 'btn btn-school' %>
    <%= link_to 'Back to group admin', admin_groups_path, class: 'btn btn-outline-secondary' %>
    <% if params[:action] == 'edit' %>
      <%= link_to 'Export to Excel', edit_admin_group_path(id: params[:id], format: 'csv'), class: 'btn btn-success' %>
    <% end%>
  </div>
<% end %>
