<div class="contact">
  <div class="clearfix row">
    <div class="col-md-12 col-sm-12 col-lg-6">
      <h2>Contact Us</h2>
      <p>We would love to hear from you!</p>
      <%= form_tag contact_index_path, method: :post do %>
        <div class="form-group">
          <label class="control-label">Name (*)</label>
          <%= text_field_tag 'name', params[:name], class: 'form-control' %>
        </div>
        <div class="form-group">
          <label class="control-label">Email (*)</label>
          <%= text_field_tag 'email', params[:email], class: 'form-control' %>
        </div>
        <div class="form-group">
          <label class="control-label">Message (*)</label>
          <%= text_area_tag 'message', params[:message], class: 'form-control' %>
        </div>
        <% if @system_info.captcha %>
          <div class="form-group">
            <div id="myself-captcha" name="myself-captcha"></div>
          <div>
        <% end %>
        <%= submit_tag 'Contact Us', class: 'btn btn-school', onclick: "track('send', 'event', 'contact_us_submit', 'submit')" %>
      <% end %>
    </div>
    <div class="col-lg-6 visible-lg-block">
      <%= image_tag 'contact-us.jpg', class: 'bordered' %>
    </div>
  </div>
</div>

<% if @system_info.captcha %>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"></script>
  <script>
    var myselfWidget;
    var onloadCallback = function() {
      myselfWidget = grecaptcha.render('myself-captcha', {
        'sitekey' : '<%= Recaptcha.configuration.site_key %>'
      });
    };
  </script>
<% end %>
