.admin
  .clearfix
    %h3.pull-left Users
    .pull-right.header-button
      = link_to 'Add User', new_admin_user_path, class: 'btn btn-school'
  %p.description
    / The groups section allows the administrator to map many conditions from ClinicalTrials.gov or Oncore into a single grouping which is displayed in the categories section of the site.  The idea is that groups would make it easier for the public to navigate through many different conditions within a single area of study.

  %table.table.table-bordered.table-trials
    %thead
      %tr
        %th Name
        %th Email
        %th 
    %tbody
      - if @users.empty?
        %tr
          %td{ colspan: 3 } There are no users loaded. Add users manually using the add button above.
      - @users.each do |u|
        %tr
          %td= u.full_name
          %td= mail_to u.email
          %td{ width: 150 }
            = link_to 'Edit', edit_admin_user_path(u.id), class: 'btn btn-primary'
            = link_to 'Delete', admin_user_path(u.id), method: 'delete', class: 'btn btn-danger', data: { confirm:"Are you sure you want to delete this user?" }