:javascript
  document.addEventListener('DOMContentLoaded', function(event) {
    var campaignElement = document.getElementById('campaign_source');
    if(window.localStorage.getItem('utm_source')) {
      campaignElement.value = window.localStorage.getItem('utm_source');
    }
    var formElement = document.getElementById('edit_study_finder_system_info_1');
    formElement.addEventListener('submit', function (evt) {
      evt.preventDefault();
      window.localStorage.setItem('utm_source', campaignElement.value);
      this.submit();
    }, false);
  });

.admin
  %h2 Edit System Information
  %p.description
    This section is where the administrator can configure how StudyFinder works.
  .last-updated
    %i.fa.fa-info-circle.big-icon
    %strong
      Trials Last Updated: #{@updated.created_at.strftime('%m-%d-%Y') }
  %hr
  = simple_form_for @system, url: admin_system_path do |f|
    %h4 Basic Information
    = f.input :initials
    = f.input :school_name
    = f.input :system_header
    = f.input :system_description, as: :text, input_html: { rows: 5 }
    = f.input :default_url
    = f.input :default_email
    = f.input :secret_key, hint: 'Secret key will be required by researchers to add or update trials.'

    %label Add Captcha to email forms
    %small
      %i (Turning on captcha will require a recaptcha key.  Refer to the readme instructions on github for more details.)
    = f.input :captcha, as: :select, label: false

    %hr
    %h4 System Override Options
    %label Search Term
    %small
      %i (Search term is the term that will be used to pull clinical trials from ClinicalTrials.gov)
    = f.input :search_term, label: false

    %label Contact email suffix
    %small
      %i (If populated, the system will find and display only contacts with this email pattern. On a trial located at multiple sites, the system will attempt to provide a @umn.edu email as the contact.)
    = f.input :contact_email_suffix, label: false

    %label Display Locations
    %small
      %i (When a trial is located at multiple sites "display locations" determines if those other sites be listed within StudyFinder)
    = f.input :display_all_locations, as: :select, label: false

    %label Display Keywords
    %small
      %i (Show a trial's keywords in the search results)
    = f.input :display_keywords, as: :select, label: false

    = f.input :researcher_description, as: :text, input_html: { rows: 5 }

    %hr
    %h4 Analytics/Tracking Options
    %label Google analytics tracking ID
    = f.input :google_analytics_id, label: false
    = f.input :research_match_campaign
    .form-group.string.optional
      %label.string.optional.control-label{:for => "campaign_source"} Campaign Source
      %input.string.optional.form-control#campaign_source
    = f.submit 'Update System Information', class: 'btn btn-school'
