<%= simple_form_for [:admin, @site] do |f| %>
  <div class="form-group">
    <%= f.input :site_name, label: 'Site Name' %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
  </div>
  <div class="controls">
    <%= f.submit 'Save Site', class: 'btn btn-school' %>
    <%= link_to 'Back to site admin', admin_sites_path, class: 'btn btn-default' %>
  </div>
<% end %>