=# f.input :group_name, label: 'Group name'
.form-group
  = f.input :site_name, label: 'Site Name'
.form-group
  = f.input :address
.form-group
  = f.input :city
.form-group
  = f.input :state
.form-group
  = f.input :zip

.controls
  = f.submit 'Save Site', class: 'btn btn-school'
  = link_to 'Back to site admin', admin_sites_path, class: 'btn btn-default'